
/* Estilo columnistas */
.columna4{
		
		@include caja1; 

		h6{
			text-align: center;
			color:grey;

			}
		h5{
			text-align: center;
			color:$color-texto;
		}	
		img{
	
		@include imagen;
		}	

	.rect_gris{
		@include caja;
	}	
		
}	
	
.boton{
	padding-top: 40px;
	
}

.columna1{
	h6{
		color:$color-texto;
	}
	
	img{
		height: 10px;
		width: 10px;
		float: 40px;
	}
}

.barra{
	@include barra;

	li {
	@include lista;	

	}	
}	

.columna{
	@include caja2;

	.rect_gris1{
		padding-bottom: 80px;

		h6{
			text-align: right;
			color:grey;
			display: inline;
		}

		img{
			height: 60px;
			width: 60px;
		}

	}
}
/* Estilo columnistas */
